.bottom{
height: auto;
height: auto;
display: grid;
place-items: center;
}

.bottom-mother-container {
      width: 100%;
      height: 100%; 
      display: grid;
      place-items: center;
      overflow-x: hidden;
    }

    .playing-box {
      border: solid red;
      margin-left: -76%;
      margin-top: -17px;
    }

    .progressBar {
      margin-top: -3%;
      width: 80%;
      height: 7px;
      background-color: rgb(36, 35, 35);
    }

    .middle-playstation {
      width: 30%;
      height: 42px;
      margin-top: 0%;
      display: grid;
      place-items: center;
      grid-template-columns: auto auto auto auto auto;
      border: solid red;
    }

    .shuffle-button,
    .backward-fast-button,
    .forward-fast-button,
    .repeat-button {
      border-radius: 20%;
      padding: 6% 14% 6% 14%;
      background-color: rgb(65, 52, 52);
    }

    .play-button {
      border-radius: 50%;
      padding: 18% 24% 18% 24%;
      background-color: rgb(65, 52, 52);
    }

    .second-playstation {
      width: 15%;
      margin-top: -9.2%;
      margin-right: -80%;
      height: 42px;
      display: grid;
      place-items: center;
      grid-template-columns: auto auto auto auto;
      border: solid black;
    }

    .volume-button,
    .maximize-button,
    .minimize-button,
    .threedots-button {
      border-radius: 20%;
      padding: 6% 14% 6% 14%;
      background-color: rgb(65, 52, 52);
      border: solid rgb(31, 29, 29);
    }

    .minimize-button {
      border: solid rgb(97, 84, 84);
    }