/* HOME PAGE */
.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 70% 15%;
  grid-template-columns: 17% 83%;
  grid-template-areas:
    "sidebar right-main"
    "sidebar right-main"
    "bottom bottom";
}

.topbar {
 /* grid-area: topbar;  <-- remove/comment when nested */
 height: 20%;
 min-height: 56px;       /* adjust as needed */
 display: flex;
 align-items: center;
 justify-content: space-between; /* or flex-start */
 gap: 12px;
 padding: 0 16px;
 box-sizing: border-box;
 background-color: rgba(36, 30, 30, 0.397);
}

.sidebar {
  grid-area: sidebar;
}



.bottom {
  grid-area: bottom;
  
}

.top-div {
  border: solid rgba(68, 64, 64, 0.397); 
  width: 100%;
  height: 5%;
}

.last-div-left {
  background-color: rgba(34, 34, 34, 0.397);
  width: 100%;
  height: 95%;
}

.search-div{
  background-color: rgb(54, 52, 52);
  width: 100%;
}

    .search {
      margin-left: 0%;
      width: 95%;
      height: 31px;
      border-radius: 0px 0px 5px 5px;
      border: none;
      background-color: rgb(54, 52, 52);
      margin-bottom: 4%;
    }

    .back-button {
      margin-top: 4%;
      margin-left: 5%;
      background-color: transparent;
      padding: 1px;
      border: none;
    }

    #play-button {
      margin-left: 9%;
      background-color: rgb(214, 209, 209);
      border-radius: 10px;
    }

    .media-player {
      text-align: right;
      margin-top: -6%;
      margin-right: 36%;
      color: beige;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.7vw;
      padding: 0;
    }

    .music-div,
    .home-div,
    .video-div,
    .play-queue-div,
    .playlist-div {
      width: 95%;
      height: 5.7%;
      margin-left: 2%;
      margin-top: 2%;
      background-color: rgb(54, 52, 52);
      border-radius: 5px;
    }

    .home-div {
      background-color: rgba(54, 52, 52, 0.575);
    }

    .home-button,
    .music-button,
    .video-button,
    .play-queue-button,
    .playlist-button {
      width: 100%;
      height: 100%;
      background-color: rgb(54, 52, 52);
      border: none;
    }
    
    #home-icon,
    #music-icon,
    #video-icon,
    #play-queue-icon,
    #playlist-icon {
      margin-top: 5px;
      margin-left: -276px;
      color: azure;
    }
   
    .home-text,
    .music-text,
    .video-text,
    .play-queue-text,
    .playlist-text {
      color: azure;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 80%;
      text-align: end;
      margin-top: -23px;
      margin-right: 217px;
      display: grid;
      text-align: left;
    }


    .play-queue-text {
      width: 100%;
    }

    .div-line {
      width: 100%;
      background-color: rgba(68, 64, 64, 0.397);
      padding: 1px;
      margin-top: 1px;
    }

  .settings-button {
    background-color: rgb(54, 52, 52);
    left: 2%;
    width: 100%;
    height: 6%;
    border: none;
    position: relative;
    top: 55%;
  }

 .settings-text{
    color: azure;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
    position: relative;
    bottom: 10px; 
    text-align: left;
 }

.right-main{
  grid-area: right-main;
  
}



