.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 70% 15%;
  grid-template-columns: 17% 83%;
  grid-template-areas:
    "sidebar right-main"
    "sidebar right-main"
    "bottom bottom";
}

.topbar {
 height: 20%;
 min-height: 56px;       
 display: flex;
 align-items: center;
 justify-content: space-between; 
 gap: 12px;
 padding: 0 16px;
 box-sizing: border-box;
 background-color: rgba(36, 30, 30, 0.397);
}

.sidebar {
  grid-area: sidebar;
}

.bottom {
  grid-area: bottom;
}

.top-div {
  border-bottom: 1px solid rgba(68, 64, 64, 0.397); 
  width: 100%;
  height: 50px; 
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 12px;
}

.last-div-left {
  background-color: rgba(34, 34, 34, 0.397);
  width: 100%;
  height: calc(100% - 50px); 
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  box-sizing: border-box; 
  overflow: hidden; 
}

.search-div{
  background-color: rgb(54, 52, 52);
  width: 100%;
}

.search {
  margin-left: 0%;
  width: 95%45rv;
  height: 31px;
  border-radius: 0px 0px 5px 5px;
  border: none;
  background-color: rgb(54, 52, 52);
  margin-bottom: 4%;
  text-align: left;       
  padding-left: 12px;       
  box-sizing: border-box;   
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search::placeholder {
  text-align: left;
}

  .back-button {
  background-color: transparent;
  padding: 5px;
  border: none;
  color: azure;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .top-play-icon {
    color: azure;
    font-size: 1.1rem;
  }
    #play-button {
      margin-left: 9%;
      background-color: rgb(214, 209, 209);
      border-radius: 10px;
    }

    .media-player {
      margin: 0; 
      color: beige;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.85rem; 
      font-weight: 500;
      white-space: nowrap;
    }

.home-div,
.music-div,
.video-div,
.play-queue-div,
.playlist-div {
  width: 95%;
  height: 40px; 
  margin-left: 2%;
  margin-top: 4px; 
  background-color: rgb(54, 52, 52);
  border-radius: 5px;
}



.home-icon,
.music-icon,
.video-icon,
.play-queue-icon,
.playlist-icon,
.settings-icon {
  color: azure;
  width: 18px;  
  height: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button,
.music-button,
.video-button,
.play-queue-button,
.playlist-button,
.settings-button {
  width: 100%;
  height: 40px; 
  background-color: transparent;
  border: none;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding-left: 10px;
}
   
.home-text,
.music-text,
.video-text,
.play-queue-text,
.playlist-text,
.settings-text {
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: left;
  margin: 0;
  padding: 0;
  position: static; 
  width: auto;
  height: auto;
}

  .play-queue-text {
     width: 100%;
  }

    .div-line {
      width: 100%;
      background-color: rgba(68, 64, 64, 0.397);
      padding: 1px;
      margin-top: 1px;
    }

.settings-button {
  width: 95%;
  height: 40px; 
  margin-left: 2%;
  margin-top: auto; 
  margin-bottom: -6px; 
  background-color: rgb(54, 52, 52);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding-left: 10px;
  border: none;
}

.right-main{
  grid-area: right-main;
}

/* ---RESPONSIVE SIDEBAR COLLAPSE --- */
@media (max-width: 970px) {
  .layout {
    grid-template-columns: 70px 1fr; 
  }

  .media-player,
  .search-div,
  .home-text,
  .music-text,
  .video-text,
  .play-queue-text,
  .playlist-text,
  .settings-text {
    display: none;
  }

  .top-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-button {
    margin: 0;
  }

  .top-play-icon {
    display: none;
  }

  .home-button,
  .music-button,
  .video-button,
  .play-queue-button,
  .playlist-button {
    grid-template-columns: 100%;
    place-items: center;
    gap: 0;
  }

  .home-icon,
  .music-icon,
  .video-icon,
  .play-queue-icon,
  .playlist-icon {
    width: auto;
    font-size: 1.2rem; 
  }

  .settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
  }
  
  .settings-icon {
    font-size: 1.2rem;
  }

  .top-div {
    justify-content: center; 
    gap: 0;
  }
  
  .top-play-icon, 
  .media-player {
    display: none; 
  }

}